@import 'tailwindcss';

@theme {
  --font-vibes: 'Great Vibes', sans-serif;
  --font-body: 'Domine', sans-serif;
  --color-primary: #d4af37;
  --color-brand-50: #faf9ec;
  --color-brand-100: #f4f0cd;
  --color-brand-200: #ebdf9d;
  --color-brand-300: #dfc865;
  --color-brand-400: #d4af37;
  --color-brand-500: #c59b2d;
  --color-brand-600: #aa7a24;
  --color-brand-700: #885920;
  --color-brand-800: #724921;
  --color-brand-900: #623e21;
  --color-brand-950: #382010;
}

body {
  box-sizing: border-box;
  font-family: var(--font-body);
  font-weight: 400;
}

.max-w-8xl {
  max-width: 95rem;
}

.menu {
  --color: #fff;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
  svg {
    width: 64px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
    path {
      transition:
        stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s),
        stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
      stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
      stroke-dashoffset: var(--offset, 126px);
      transform: translateZ(0);
      &:nth-child(2) {
        --duration: 0.7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
      }
      &:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
      }
    }
  }
  &.active {
    svg {
      path {
        --offset: 57px;
        &:nth-child(1),
        &:nth-child(3) {
          --delay: 0.15s;
          --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
        }
        &:nth-child(2) {
          --duration: 0.4s;
          --offset: 2px;
          --array-1: 1px;
        }
        &:nth-child(3) {
          --offset: 58px;
        }
      }
    }
  }
}
