---

---

<section class="px-6 py-28">
  <div class="mb-20 flex flex-col gap-2 text-center">
    <span class="text-primary text-xl font-normal tracking-widest uppercase"
      >Agenda para el fin de semana</span
    >
    <h4 class="text-brand-950 text-4xl font-medium">Eventos</h4>
  </div>
  <div class="mx-auto grid max-w-6xl gap-y-2 lg:grid-cols-2 lg:grid-rows-4">
    <div
      class="flex w-full flex-row-reverse items-end justify-between lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2 lg:flex-row"
    >
      <div class="mx-auto px-8 pt-12 lg:mx-0 lg:flex-1">
        <h5 class="text-brand-950 text-2xl font-semibold">Recepción</h5>
        <h6 class="text-primary mb-3 text-xl font-semibold">16 Septiembre - 8:30 pm</h6>
        <p class="text-lg font-normal text-gray-600">Comparte con nosotros este momento.</p>
      </div>
      <div class="flex flex-col items-center gap-2 self-stretch lg:translate-x-1/2">
        <div class="bg-primary/20 block w-1 flex-1 rounded-full"></div>
        <div class="bg-primary block h-6 w-6 rounded-full"></div>
      </div>
    </div>
    <div
      class="flex flex-row-reverse items-end justify-between lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-3"
    >
      <div class="mx-auto px-8 pt-12 lg:mx-0 lg:flex-1">
        <h5 class="text-brand-950 text-2xl font-semibold">Recepción</h5>
        <h6 class="text-primary mb-3 text-xl font-semibold">16 Septiembre - 8:30 pm</h6>
        <p class="text-lg font-normal text-gray-600">Comparte con nosotros este momento.</p>
      </div>
      <div class="flex flex-col items-center gap-2 self-stretch lg:-translate-x-1/2">
        <div class="bg-primary/20 block w-1 flex-1 rounded-full"></div>
        <div class="bg-primary block h-6 w-6 rounded-full"></div>
      </div>
    </div>
    <div
      class="flex w-full flex-row-reverse items-end justify-between lg:col-start-1 lg:col-end-2 lg:row-start-3 lg:row-end-4 lg:flex-row"
    >
      <div class="mx-auto px-8 pt-12 lg:mx-0 lg:flex-1">
        <h5 class="text-brand-950 text-2xl font-semibold">Recepción</h5>
        <h6 class="text-primary mb-3 text-xl font-semibold">16 Septiembre - 8:30 pm</h6>
        <p class="text-lg font-normal text-gray-600">Comparte con nosotros este momento.</p>
      </div>
      <div class="flex flex-col items-center gap-2 self-stretch lg:translate-x-1/2">
        <div class="bg-primary/20 block w-1 flex-1 rounded-full"></div>
        <div class="bg-primary block h-6 w-6 rounded-full"></div>
      </div>
    </div>
    <div
      class="flex flex-row-reverse items-end justify-between lg:col-start-2 lg:col-end-3 lg:row-start-4 lg:row-end-5"
    >
      <div class="mx-auto px-8 pt-12 lg:mx-0 lg:flex-1">
        <h5 class="text-brand-950 text-2xl font-semibold">Recepción</h5>
        <h6 class="text-primary mb-3 text-xl font-semibold">16 Septiembre - 8:30 pm</h6>
        <p class="text-lg font-normal text-gray-600">Comparte con nosotros este momento.</p>
      </div>
      <div class="flex flex-col items-center gap-2 self-stretch lg:-translate-x-1/2">
        <div class="bg-primary/20 block w-1 flex-1 rounded-full"></div>
        <div class="bg-primary block h-6 w-6 rounded-full"></div>
      </div>
    </div>
    <div
      class="flex cursor-default flex-row-reverse items-end justify-between lg:col-start-2 lg:col-end-3 lg:row-start-5 lg:row-end-6"
    >
      <div class="mx-auto px-8 pt-12 opacity-0 lg:mx-0 lg:flex-1">
        <h5>Recepción</h5>
        <h6>16 Septiembre - 8:30 pm</h6>
        <p>Comparte con nosotros este momento.</p>
      </div>
      <div class="flex flex-col items-center gap-2 self-stretch lg:-translate-x-1/2">
        <div class="bg-primary/20 block w-1 flex-1 rounded-full"></div>
        <div class="bg-primary block h-6 w-6 rounded-full opacity-0"></div>
      </div>
    </div>
  </div>
</section>
