---

---

<section id="galeria" class="bg-brand-50 px-6 py-28">
  <div class="mx-auto flex max-w-6xl flex-col gap-12">
    <div class="flex flex-col gap-2 text-center md:text-left">
      <span class="text-primary text-xl font-normal tracking-widest uppercase"
        >Momentos favoritos</span
      >
      <h4 class="text-brand-950 text-4xl font-medium">Nuestra galería</h4>
      <p class="mx-auto max-w-2xl text-lg leading-8 font-normal text-gray-600 md:mx-0">
        Siete recuerdos que guardamos con cariño: detalles dorados, luces cálidas y la alegría que
        acompaña cada paso de nuestra historia juntos.
      </p>
    </div>

    <div class="grid w-full gap-6 lg:h-[900px] lg:grid-cols-3 lg:grid-rows-4">
      <div class="lg:col-start-1 lg:col-end-3 lg:row-start-1 lg:row-end-3">
        <img
          src="https://storage.googleapis.com/vowandbeyond/gallery/img1.jpg"
          loading="lazy"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="lg:col-start-3 lg:col-end-4 lg:row-start-1 lg:row-end-2">
        <img
          src="https://storage.googleapis.com/vowandbeyond/gallery/img4.jpg"
          loading="lazy"
          class="h-full w-full object-cover object-center"
        />
      </div>
      <div class="lg:row-start-3 lg:row-end-5">
        <img
          src="https://storage.googleapis.com/vowandbeyond/gallery/img2.jpg"
          loading="lazy"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="lg:col-start-2 lg:col-end-3 lg:row-start-3 lg:row-end-5">
        <img
          src="https://storage.googleapis.com/vowandbeyond/gallery/img3.jpg"
          loading="lazy"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="lg:col-start-3 lg:col-end-4 lg:row-start-2 lg:row-end-5">
        <img
          src="https://storage.googleapis.com/vowandbeyond/gallery/img5.jpg"
          loading="lazy"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
