---

---

<section
  class="relative flex h-screen w-full flex-col items-center justify-between gap-6 bg-[url(https://storage.googleapis.com/vowandbeyond/hero-bg.jpg)] bg-cover bg-center bg-no-repeat text-white"
>
  <div class="absolute top-0 bottom-0 left-0 z-0 w-full bg-black/50"></div>
  <div class="z-10 flex h-full flex-col items-center justify-center gap-4 md:gap-12">
    <h1 class="text-brand-50 text-[clamp(1.35rem,2vw,1.675rem)] font-normal uppercase">
      ¡Nos casamos!
    </h1>
    <div class="font-vibes flex flex-col items-center justify-center gap-0 md:flex-row md:gap-8">
      <h2 class="text-brand-50 text-[clamp(7rem,8vw,9rem)]">Nadia</h2>
      <span class="font-headings text-brand-100 text-[clamp(4rem,4vw,6rem)]">&</span>
      <h2 class="text-brand-50 text-[clamp(7rem,8vw,9rem)]">Angel</h2>
    </div>
    <h3 class="text-brand-50 text-[clamp(1.45rem,2vw,1.675rem)] uppercase">16-09-2027</h3>
  </div>
  <div
    class="max-w-8xl absolute bottom-8 z-10 mx-auto flex max-h-12 w-full items-center justify-between px-11 py-10 md:relative md:max-h-24"
  >
    <h5 class="text-brand-100 hidden flex-1 text-[clamp(1.25rem,2vw,1.675rem)] md:block">
      Save the date
    </h5>
    <div class="flex flex-1 justify-center">
      <div class="border-primary h-10 w-6 rounded-full border-2">
        <span
          class="bg-primary absolute h-3 w-2 translate-x-[calc(50%+2px)] translate-y-2.5 animate-bounce rounded-full"
        ></span>
      </div>
    </div>
    <div class="hidden flex-1 justify-end md:flex">
      <div class="bg-primary relative h-14 w-1 translate-y-12 self-end rounded-full">
        <span
          class="text-brand-100 absolute -top-[200%] left-[50%] -translate-x-1/2 rotate-90 text-[clamp(1.35rem,2vw,1.675rem)]"
          >#N&A2027</span
        >
      </div>
    </div>
  </div>
</section>
