---

---

<section id="historia" class="flex w-full flex-col items-center gap-20 py-10 lg:flex-row">
  <div class="w-full flex-1">
    <img
      src="https://storage.googleapis.com/vowandbeyond/our-history.jpg"
      alt="Nuestra historia"
      class="h-[80vh] w-full object-cover"
    />
  </div>
  <div class="flex flex-1 flex-col gap-4 px-8 pb-10 lg:pr-8">
    <div class="flex flex-col gap-2">
      <span class="text-primary text-xl font-normal tracking-widest uppercase">Nos casamos</span>
      <h4 class="text-brand-950 text-4xl font-medium">Nuestra historia</h4>
    </div>
    <p class="mt-8 max-w-xl text-lg leading-8 font-normal text-gray-500">
      Una propuesta, un Sí y una decisión que tomamos juntos. Nuestro amor ha crecido en nosotros,
      ha madurado y florecido, a veces sencillo, otras caótico pero siempre maravilloso. Así
      comienza una nueva etapa en nuestras vidas. Somos aventureros, dedicados, fuertes de carácter;
      los desafíos que hemos enfrentado nos han ayudado a crecer y madurar; debemos agradecer a esos
      retos porque con ellos nos hemos dado cuenta que juntos podemos lograr lo que nos proponemos.
    </p>
    <p class="max-w-xl text-lg leading-8 font-normal text-gray-500">
      Tan sólo podemos decir que nuestra vida en estos momentos se encuentra completa y estamos
      listos para compartir el resto de nuestros días juntos.
    </p>
  </div>
</section>
