---
import LocationButton from './ui/LocationButton.astro'
---

<section id="ubicacion" class="flex flex-col items-center gap-20 px-8 py-28">
  <div class="flex flex-col gap-2 text-center">
    <span class="text-primary text-xl font-normal tracking-widest uppercase"
      >El lugar donde contraeremos matrimonio</span
    >
    <h4 class="text-brand-950 text-4xl font-medium">Ubicación</h4>
  </div>
  <img
    src="https://storage.googleapis.com/vowandbeyond/venue.jpg"
    alt="Nuestra historia"
    class="h-[450px] w-full max-w-6xl object-cover"
  />
  <div class="text-center">
    <h5 class="text-primary text-2xl font-normal">Princess Wedding Gardens</h5>
    <p class="mt-2 text-xl text-gray-500">Juarez 100, Los Rodríguez, 67300 Santiago, N.L.</p>
    <div class="mt-8 flex items-center justify-center gap-6">
      <LocationButton label="Ver ruta desde aquí" href="#" />
    </div>
  </div>
</section>
