---

---

<section class="bg-brand-50">
  <div class="mx-auto flex w-full max-w-6xl flex-col items-center gap-10 px-6 py-28 lg:flex-row">
    <div class="w-full flex-1">
      <img
        src="https://storage.googleapis.com/vowandbeyond/message.jpg"
        alt="Nuestra historia"
        class="aspect-square w-full object-cover"
      />
    </div>
    <div class="flex flex-1 flex-col gap-4 px-8 pb-10 lg:pr-8">
      <p class="text-brand-950 mt-8 flex flex-col gap-10 text-3xl font-medium">
        “Estamos muy emocionados de iniciar nuestra vida como matrimonio y no hay mejor manera de
        celebrarlo que con las personas que amamos. <span
          >¡Esperamos que nos puedas acompañar!”</span
        >
      </p>
      <p class="text-brand-500 mt-5 max-w-xl text-2xl leading-8 font-semibold">- Emily & John</p>
    </div>
  </div>
</section>
