---

---

<section id="registro" class="flex w-full flex-col items-center gap-20 py-10 lg:flex-row">
  <div class="w-full flex-1">
    <img
      src="https://storage.googleapis.com/vowandbeyond/registry.jpg"
      alt="Registro"
      class="h-[80vh] w-full object-cover"
    />
  </div>
  <div class="flex flex-1 flex-col gap-4 px-8 pb-10 lg:pr-8">
    <div class="flex flex-col gap-2">
      <span class="text-primary text-xl font-normal tracking-widest uppercase"
        >Tu presencia es el mejor regalo</span
      >
      <h4 class="text-brand-950 text-4xl font-medium">Registro</h4>
    </div>
    <p class="mt-8 max-w-xl text-lg leading-8 font-normal text-gray-500">
      El regalo es opcional, pero si quieres tener un detalle con nosotros puedes agregarlo en el
      sobre que viene con tu invitación.
    </p>
  </div>
</section>
