---

---

<section id="cortejo" class="bg-brand-50 px-6 py-28">
  <div class="mx-auto flex max-w-6xl flex-col gap-12">
    <div class="flex flex-col gap-2 text-center">
      <span class="text-primary text-xl font-normal tracking-widest uppercase"
        >Nuestro equipo de boda</span
      >
      <h4 class="text-brand-950 text-4xl font-medium">Cortejo nupcial</h4>
    </div>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <img
          src="https://storage.googleapis.com/vowandbeyond/team/bridesmaid-1.jpg"
          class="aspect-square h-auto w-full object-cover"
          alt=""
        />
        <div class="px-3 py-6">
          <h6 class="text-brand-500 text-2xl font-medium">Dama de Honor</h6>
          <p class="text-lg text-gray-600">Jane doe</p>
        </div>
      </div>
      <div>
        <img
          src="https://storage.googleapis.com/vowandbeyond/team/bridesmaid-2.jpg"
          class="aspect-square h-auto w-full object-cover"
          alt=""
        />
        <div class="px-3 py-6">
          <h6 class="text-brand-500 text-2xl font-medium">Dama de Honor</h6>
          <p class="text-lg text-gray-600">Melissa Hines</p>
        </div>
      </div>
      <div>
        <img
          src="https://storage.googleapis.com/vowandbeyond/team/groomsmen-1.jpg"
          class="aspect-square h-auto w-full object-cover"
          alt=""
        />
        <div class="px-3 py-6">
          <h6 class="text-brand-500 text-2xl font-medium">Padrino</h6>
          <p class="text-lg text-gray-600">Miles Tone</p>
        </div>
      </div>
      <div>
        <img
          src="https://storage.googleapis.com/vowandbeyond/team/groomsmen-2.jpg"
          class="aspect-square h-auto w-full object-cover object-top"
          alt=""
        />
        <div class="px-3 py-6">
          <h6 class="text-brand-500 text-2xl font-medium">Padrino</h6>
          <p class="text-lg text-gray-600">Jackson Pot</p>
        </div>
      </div>
      <div>
        <img
          src="https://storage.googleapis.com/vowandbeyond/team/flower-girl.jpg"
          class="aspect-square h-auto w-full object-cover"
          alt=""
        />
        <div class="px-3 py-6">
          <h6 class="text-brand-500 text-2xl font-medium">Niña de las flores</h6>
          <p class="text-lg text-gray-600">Melissa Hines</p>
        </div>
      </div>
    </div>
  </div>
</section>
